    @font-face {
        font-family: 'GongGothicBold';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    .header, .imgs, .img-text, .about-container {
        width: 100vw;
        box-sizing: border-box;
    }
    ul, li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
    }
    .header {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        position: fixed;
        width : 100vw;
        height: 5rem;
        top: 0;
        z-index: 10;
        box-shadow: 0 0 1.25rem 0 rgba(163, 174, 184, 0.7);
    }
    .headerObj {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 90%;
        margin: 0;
    }
    .logo {
        font-size: 2rem;
        color: #000;
    }

    .nav-links {
        list-style-type: none;
    }

    .nav-links li {
        display: inline-block;
        margin-left: 4rem;
    }
    .container {
        height: 100%; 
        padding-top: 5rem;
    }

    .imgs {
        max-height:1080px;
        height: 100%;
        width: 100%;
        filter: brightness(30%);
        top: 0; 
        z-index: 0;
        object-fit: cover;
        object-position: center;
        position: absolute; 
    }
    .img-text {
        position: relative;
        width: 100vw;
        margin-top: 40%;
        margin-left: 60%;
        font-size: 2.5rem;
        color: #ffffff;
        font-family: 'GongGothicBold';
        z-index: 5;
    }
    .img-text p {
        margin:  1.25rem 0 1.25rem 0;
    }

    
    .div-container {
        margin: 0 auto;
        padding-top: 5rem;
        width: 60%; 
        height: 100%;
    }
    .about-container > p {
        font-family: 'GongGothicBold';
        text-decoration-line: underline;
        text-align: center;
        color: #000;
        font-size: 2.75rem;
    }

    .skill-container > p {
        font-family: 'GongGothicBold';
        text-decoration-line: underline;
        text-align: center;
        color: #000;
        font-size: 2.75rem;
    }

    .about-container {
        margin: 0 auto;
        padding-top: 3rem;
        width: 85%; 
        height: 100%;
        top: 0;
    }

    .about-container .w-full {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem; 
    }

    .about-container .icon-wrapper {
        flex: 0 0 calc(33.33% - 1rem);
        max-width: calc(33.33% - 1rem);
        box-sizing: border-box;
        display: flex;
    }

    .about-container .icon {
        width: 2rem;
        height: 2rem; 
         object-fit: contain; 
    }
    .icon-wrapper > span  {
        padding: 1% 0  0 5%;
        align-items: center;
        color: #000;
    }
     .icon-wrapper > p  {
        margin-top: 0;
        padding: 1% 0  0 5%;
        align-items: center;
        color: #000;
    }
    .skill-box {
        padding: 1.25rem auto;
        width: 100%;
        height: 31rem;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 .5rem 0 rgba(68,68,68,.4);
    }
    
    .category {
    margin: 1.25rem;
    }
    .category > h1 {
        color: #000;
    }
    .skills-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .skill {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        color: #000;
        font-weight: bold;
        font-size: 0.9rem;
    }
    .box{
        padding: .25rem .75rem;
    }

    .language1 {color: #d10000; border:1px solid #0d6eb6;}
    .language2 {background-color: #ffe300;}
    .language3 {background-color: #00bee9;}
    .front1 {color:#00bee9; border:1px solid #00bee9;}
    .front2 {background-color: #9900ff;}
    .front3 {background-color: #e6e6e6;}
    .front4 {background-color: #1e2e3b;}
    .back1 {color:#5fb832; border:1px solid #5fb832;}
    .back2 {color:#2aaa84; border:1px solid #19b688;}
    .back3 {color:#5fb832; border:1px solid #5fb832;}

    .project-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .text {
        font-family: 'GongGothicBold';
        text-decoration-line: underline;
        text-align: center;
        color: #000;
        font-size: 2.75rem;
        margin: 2rem;
    }
    .project-box {
        flex: 1 1 100%;
        max-width: 100%;
        gap: 2rem;
        height: 20rem;
        border-radius:1.25rem;
        background-color: #ffffff;
        box-shadow: 0 0 .5rem 0 rgba(68,68,68,.4);
    }

    @media (min-width: 1332px) {
    .project-box {
            flex: 1 1 48%;
            max-width:48%;
    }
}
    @media (max-width: 1331px) {
    .project-box {
            flex: 1 1 100%;
            max-width:100%;
    }
}

    .project-box > p {
        color: #000;
    }

    .archiving-box {
        padding: 1.25rem auto;
        width: 50%;
        height: 20rem;
        border-radius: 1.25rem;
        box-shadow: 0 0 .5rem 0 rgba(68,68,68,.4);
        margin: 0 auto 4rem auto;
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    .archiving-box > span {
        color:#fff;
    }

    .zoom-in {
        transform: scale(1.05);
    }

    .footer {
        width: 100%;
        height: 6.25rem;
        background-color: #222;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    